h1 {
  text-align: center;
}

#div1 > img {
  float: left;
  width: 55%;
  padding-right: 10px;
}

#div1 > p {
  line-height: 40px;
  padding: 10px;
}
#div1 > h3 {
  text-align: center;
}

#div2 > img {
  float: right;
  width: 55%;
  padding-left: 10px;
}
#div2 > p {
  line-height: 35px;
  padding: 10px;
}
#div2 > h3 {
  text-align: center;
}
#div3 > p {
  line-height: 40px;
  padding: 10px;
}
#div3 > h3 {
  text-align: center;
}
